@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1 class="jumbotron">
  Add Engineer Licensed to use this machine
  <hr />
  <p>@Html.ActionLink("Machine List", "Index") || @Html.ActionLink("Engineer List", "Index", "Engineers") || @Html.ActionLink("Home", "Index", "Home")</p>
</h1>
<hr />

<div class="container-fluid well">
  <h3>@Model.Name</h3>

  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.MachineId)

    @Html.Label("Select Engineer")
    @Html.DropDownList("EngineerId", null, new {@class = "form-control"})

    <input type="submit" value="Save" class="btn btn-primary"/>
  }
</div>