@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h1 class="jumbotron">
  Delete Machine
  <hr />
  <p>@Html.ActionLink("Machine List", "Index") || @Html.ActionLink("Engineer List", "Index", "Engineers") || @Html.ActionLink("Home", "Index", "Home")</p>
</h1>
<hr />
<div class="container-fluid well">
  <h3>@Model.Name</h3>
  <h4>Are you sure you want to delete this Machine?</h4>
  @using (Html.BeginForm())
  {
    <input type="submit" value="Delete" class="btn btn-danger"/>
    <input type="button" value="Cancel" onclick="location.href='@Url.Action("Index", "Machines")';" class="btn btn-primary"/>
  }
</div>