@{
  Layout = "_Layout";
}

@model Factory.Models.Machine;

<h1 class="jumbotron">
  Edit Machine
  <hr />
  <p>@Html.ActionLink("Machine List", "Index") || @Html.ActionLink("Engineer List", "Index", "Engineers") || @Html.ActionLink("Home", "Index", "Home")</p>
</h1>

<div class="container">
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model=>model.MachineId)
    <div class="form-group">
      <h4>Name</h4>
      @Html.EditorFor(model=>model.Name, new{@class="form-control", @required=true})
    </div>
    <input type="submit" value="Save" class="btn btn-secondary">
    <input type="button" value="Cancel" onclick="location.href='@Url.Action("Details", "Machines", new {id=Model.MachineId})';" class="btn btn-secondary"/>
  }
</div>