@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1 class="jumbotron">
  Add Machine License
  <hr />
  <p>@Html.ActionLink("Engineer List", "Index") || @Html.ActionLink("Machine List", "Index", "Machines") || @Html.ActionLink("Home", "Index", "Home")</p>
</h1>
<hr />

<div class="container">
  <h3>@Model.Name</h3>
  @using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.EngineerId)

    @Html.Label("Select Machine")
    @Html.DropDownList("MachineId", null, new {@class = "form-control"})
    <br>
    <input type="submit" value="Save" class="btn btn-primary"/>
    <input type="button" value="Cancel" onclick="location.href='@Url.Action("Details", "Engineers", new {id=Model.EngineerId})';" class="btn btn-secondary"/>
  }
</div>
